.container{
    margin-top:40px;
}

textarea{ 
    width: 700px; 
    min-width:400px;
    max-width:700px; 
  
    height:200px; 
    min-height:50px;  
    max-height:70px;
  }

  #correcto, #inCorrecto, #textocorto{
    color:red;
  }

