<div class="container">
  <form (submit)="addUser(vName, vEmail, vLocalidad, vDescripcion)">

    <div class="col-md-3 form-group">
      <h3>Alta evento</h3>
    </div>
    
    <div class="col-md-3 form-group">
      <label>Nombre del evento</label>
      <input type="text" #vName="" class="form-control" placeholder="Evento">
    </div>
    <div class="col-md-3 form-group">
      <label>Localidad</label>
      <input type="text" #vLocalidad="" class="form-control" placeholder="Localidad">
    </div>
    <div class="col-md-3 form-group">
      <label>Correo Electronico</label>
      <input type="email" name="email" #vEmail class="form-control" placeholder="Correo">
      <small class="form-text text-muted">Recuerde en poner la @.</small>
    </div>

    <div [ngSwitch]="mostrarInfo">
      <div id="correcto" *ngSwitchCase="'correcto'">Correcto</div>
      <div id="inCorrecto" *ngSwitchCase="'Incorrecto'">Incorrecto</div>
    </div>

    <div class="col-md-5 form-group">
      <label for="">Descripcion</label>
      <textarea class="form-control" #vDescripcion name="" id="" placeholder="Escribe tu mensaje"></textarea>
      <small class="form-text text-muted">Descripción debe de tener por lo menos 2 carácteres.</small>
  </div>

  <div [ngSwitch]="mostrarInfo">
    <div id="textocorto" *ngSwitchCase="'textocorto'">El texto introducido es demasiado corto</div>
  </div>

  <div class="col-md-5 form-group">
    <button type="submit" class="btn btn-success" (click)="Enviar(vName, vEmail.value, vDescripcion)" value="Enviar">enviar</button>
  </div>

  <div class="col-md-5 form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label">Validar condiciones legales.</label>
  </div>
    
  </form>


  <div class="eliminar">

    <h3>Mostrar eventos para eliminar</h3>
    <label for="text" #vmostrarvacio=""></label>
    <ul>
      <li *ngFor="let user of users">
          {{user}} <button class="btn btn-danger" type="submit" (click)="deleteUser(user)">Borrar</button>
      </li>
    </ul>
    
  </div>


</div>